<div class='course-div-centerlized'>
  <table class='courses-table'>
    <tr>
      <th class='course-table-heading'>course</th>
      <th class='course-table-heading'>action</th>
    </tr>
    <% @courses_user_can_enroll.each do |course|%>
      <div>
        <tr>
          <td class='course-table-data'>
            <%= course.name %>
          </td>
          <td class='course-table-data'>
            <button class='enroll-button'>
              <%= link_to 'Enroll', "/user/#{current_user.id}/courses/#{course.id}", method: :put %>
            </button>
          </td>
        </tr>
      </div>
    <%end%>
    <% @current_user_courses.each do |course|%>
      <div>
        <tr>
          <td class='course-enrolled-table-data'>
            <%= course.name %>
          </td>
          <td class='course-enrolled-table-data'>
            <button class='unenroll-button'>
              <%= link_to 'Unenroll', "/user/#{current_user.id}/courses/#{course.id}", method: :delete %>
            </button>
          </td>
        </tr>
      </div>
    <%end%>
  </table>
</div>

<div>
  <%= will_paginate @all_courses %>
</div>

