Create <%= @course.name%> Exam Paper.

<div>
  <%= form_for :question, url: "/courses/#{@course.id}/exams",html:{
    method: :post
  }, remote: true do |f| %>
    Title: <%= f.text_field :title%>
    <%= f.submit%>
  <% end %>
</div>
<br>
Questions:
  <div id='exam-questions'>
    <% if @questions %>
      <% @questions.each_with_index do |question, index|%>
       <div>
          Q<%= index + 1%>:
          <%= question.title%>
      </div>
      <%end%>
  </div>
<%end%>

<%= link_to @course.name, user_course_path(:user_id => current_user.id, :id => @course.id)%>
